SUPABASE_URL=https://moubzvpffhqvumipbnfj.supabase.co
SUPABASE_KEY=your_service_role_key
TODOIST_API_KEY=your_todoist_token
GOOGLE_CLIENT_ID=749448193098-eb3p8e20jmfrao4kr6va50qm6dvc0nqa.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
PORT=3001
